<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About</title>
<link rel="stylesheet" href="css/aboutstyle.css">
</head>
<body>
	<header>
		<div class="container">
			<nav>
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a href="/books">Books</a></li>
					<li><a href="#">About</a></li>
					<li><a href="/contact">Contact</a></li>

				</ul>
			</nav>
		</div>
	</header>

	<section class="main-content">
		<div class="container">
			<h2>Welcome to Bookstore Management</h2>
			<p>Bookstore Management is a comprehensive software platform
				designed to streamline book sales and management processes. Our
				system provides book retailers with tools to efficiently manage
				inventory, track customer orders, and improve overall business
				operations.</p>
			<p>With Bookstore Management, you can easily add, update, and
				track your book inventory, manage customer information, process
				orders, and generate reports to gain insights into your business
				performance. Our user-friendly interface ensures a seamless
				experience for both you and your customers.</p>
		</div>
	</section>

	<footer>
		<div class="container">
			<p>&copy; 2024 Bookstore Management System | Yusuf Ziyrek</p>
		</div>
	</footer>
</body>
</html>
