<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="css/homestyle.css">
</head>
<body>
	<header>
		<div class="container">
			<h1>Welcome to Bookstore Management</h1>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="/books">Books</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="main-content">
		<div class="container">
			<div class="content">
				<h2>Welcome to Our Bookstore</h2>
				<p>Welcome to Bookstore Management, your one-stop solution for
					all your book-related needs. Whether you're a book lover or a
					bookstore owner, we have the tools and resources to make your
					experience seamless and enjoyable.</p>
			</div>
			<div class="image">
				<img src="images/bookstore.png" alt="Bookstore Image">
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<p>&copy; 2024 Bookstore Management System | Yusuf Ziyrek</p>
		</div>
	</footer>
</body>
</html>
